5. Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [15]:
import pandas as pd
df = pd.read_csv('/content/FoodBalanceSheets_E_Africa_NOFLAG.csv' , encoding = "latin-1")
df1 = df.drop('Area Code', axis=1)
# Calculate the correlations
corr_val = df1.corr()
# Print the correlations
print(corr_val)

ValueError: could not convert string to float: 'Algeria'

In [16]:
S = [['him', 'sell'], [90, 28, 43]]

print(S[0][1][1])

e

In [19]:
array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

print(array[ : 2, 0 : ])

print(array[ : 1, 1 : ])

print(array[ 1 : , : ])

print(array[ : 1, 1 :])

print(array[ : 2, 1 : ])

TypeError: list indices must be integers or slices, not tuple

In [21]:
print(df)

       Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]

4. Answer the following questions based on the African food production dataset provided by the FAO website already provided

What is the total sum of Wine produced in 2015 and 2018 respectively?

Hint:

### Perform a groupby sum aggregation on ‘Item’

In [36]:
df.groupby('Item')['Y2015'].sum()

Item
Alcohol, Non-Food        2180.00
Alcoholic Beverages     98783.72
Animal Products         11811.73
Animal fats            200675.72
Apples and products     10559.15
                         ...
Vegetables, Other      158104.08
Vegetal Products       107064.17
Wheat and products     234710.51
Wine                     4251.81
Yams                   203151.78
Name: Y2015, Length: 119, dtype: float64

In [37]:
df.groupby('Item')['Y2018'].sum()

Item
Alcohol, Non-Food        2293.00
Alcoholic Beverages     97847.27
Animal Products         11578.61
Animal fats            269648.27
Apples and products      9640.51
                         ...
Vegetables, Other      163987.21
Vegetal Products       107775.39
Wheat and products     242645.19
Wine                     4039.32
Yams                   221272.09
Name: Y2018, Length: 119, dtype: float64

5. Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [43]:
df_subset = df[['Y2017', 'Area']]
grouped_df = df_subset.groupby('Area')['Y2017'].sum()
sorted_df = grouped_df.sort_values(ascending=True)
seventh_lowest_index = sorted_df.index[6]
print(f"Area with the 7th lowest sum in 2017: {seventh_lowest_index}")

Area with the 7th lowest sum in 2017: Guinea-Bissau

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

Options
Kenya

Nigeria

Egypt

South Africa

Ethiopia

In [44]:
# Select columns 'Y2017' and 'Area'
df_subset = df[['Y2017', 'Area']]

# Group by 'Area' and sum the 'Y2017' values
grouped_df = df_subset.groupby('Area')['Y2017'].sum()

# Get the index of the group with the highest sum
highest_sum_index = grouped_df.idxmax()

# Print the Area with the highest sum in 2017
print(f"Area with the highest sum in 2017: {highest_sum_index}")

Area with the highest sum in 2017: Nigeria

What is the total number of unique countries in the dataset?

In [46]:
# Extract the 'Area' column
country_column = df['Area']

# Get the unique values in the 'Country' column
unique_countries = country_column.unique()

# Count the number of unique countries
num_unique_countries = len(unique_countries)

# Print the result
print(f"Number of unique countries: {num_unique_countries}")

Number of unique countries: 49


Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

Options
2017

2015

2016

2014

In [54]:

grouped_df = df.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017']].sum()
print(grouped_df)

                                             Y2014       Y2015       Y2016  \
Element
Domestic supply quantity                1996716.35  2021493.55  2044842.70
Export Quantity                          150020.64   157614.47   151920.46
Fat supply quantity (g/capita/day)        10225.56    10235.74    10102.77
Feed                                     216927.89   225050.22   228958.65
Food                                    1212332.49  1232361.10  1247022.17
Food supply (kcal/capita/day)            454257.00   453383.00   451810.00
Food supply quantity (kg/capita/yr)       49650.63    49345.13    48985.28
Import Quantity                          274144.48   267018.46   286582.78
Losses                                   153223.00   155439.00   157787.00
Other uses (non-food)                     78718.13    66254.41    69563.68
Processing                               282923.00   287929.00   280631.00
Production                              1931287.75  1947019.39  1943537.15
Protein supply quantity (g/capita/day)    11836.46    11833.95    11779.69
Residuals                                 30149.00    30045.00    37224.00
Seed                                      21922.92    23976.82    23389.20
Stock Variation                           58749.83    34910.99    33140.12
Total Population - Both sexes           1031585.00  1058081.00  1085107.00
Tourist consumption                         416.00      349.00       89.00

                                             Y2017
Element
Domestic supply quantity                2088198.10
Export Quantity                          182338.80
Fat supply quantity (g/capita/day)        10253.84
Feed                                     223705.68
Food                                    1258888.28
Food supply (kcal/capita/day)            454681.00
Food supply quantity (kg/capita/yr)       48690.04
Import Quantity                          294559.09
Losses                                   160614.00
Other uses (non-food)                     91645.97
Processing                               292836.00
Production                              2030056.89
Protein supply quantity (g/capita/day)    11842.45
Residuals                                 35500.00
Seed                                      24870.14
Stock Variation                           54316.91
Total Population - Both sexes           1112641.00
Tourist consumption                          91.00

What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

Options
140.92 and 1671.86

8.54 and 9876.77

10.60 and 8.49

10.60 and 17.01

135.23 and 1603.40

In [55]:

# Calculate the mean and standard deviation for the year 2017
mean_2017 = df["Y2017"].mean().round(2)
std_2017 = df["Y2017"].std().round(2)

# Print the results
print(f"Mean (2017): {mean_2017}")
print(f"Standard deviation (2017): {std_2017}")

Mean (2017): 140.92
Standard deviation (2017): 1671.86

Given the following python code, what would the output of the code give?

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

In [56]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [57]:

# Group by 'Element' and calculate the sum of 'Processing' in 2017
grouped_df = df.groupby('Element')['Y2017'].sum()

# Extract the sum of 'Processing'
processing_sum = grouped_df['Processing']

# Print the result
print(f"Total sum of Processing in 2017: {processing_sum}")

Total sum of Processing in 2017: 292836.0

What is the total Protein supply quantity in Madagascar in 2015?

Options
173.05

174.91

180.29

357.12

In [69]:

# Filter rows where Area is Madagascar
filtered_df = df[(df['Area'] == 'Madagascar')]
grouped_df = filtered_df.groupby('Element')[[ 'Y2015']].sum()
print(grouped_df)

                                           Y2015
Element
Domestic supply quantity                31214.98
Export Quantity                           494.75
Fat supply quantity (g/capita/day)         91.85
Feed                                     2070.22
Food                                    21120.65
Food supply (kcal/capita/day)            7685.00
Food supply quantity (kg/capita/yr)       871.59
Import Quantity                          1721.80
Losses                                   2176.00
Other uses (non-food)                    3957.12
Processing                               1803.00
Production                              29482.89
Protein supply quantity (g/capita/day)    173.05
Residuals                                -616.00
Seed                                      699.00
Stock Variation                          -505.00
Total Population - Both sexes           24234.00

What is the total number and percentage of missing data in 2014 to 3 decimal places?

Options
1538 and 2.522%

1506 and 2.477%

1589 and 2.607%

1598 and 2.617%

1473 and 2.152 %

In [70]:
import pandas as pd

# Count the total number of missing values in 2014
missing_values_2014 = df['Y2014'].isnull().sum()

# Calculate the total number of values in 2014
total_values_2014 = len(df['Y2014'])

# Calculate the percentage of missing data in 2014
missing_percentage_2014 = (missing_values_2014 / total_values_2014) * 100

# Round the results to 3 decimal places
missing_values_2014 = round(missing_values_2014, 3)
missing_percentage_2014 = round(missing_percentage_2014, 3)

# Print the results
print(f"Total number of missing values in 2014: {missing_values_2014}")
print(f"Percentage of missing data in 2014: {missing_percentage_2014}%")

Total number of missing values in 2014: 1589
Percentage of missing data in 2014: 2.607%