<a href="https://colab.research.google.com/github/Haabey/hamoye/blob/main/LLM_Premiere_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
# Import the necessary python libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error, r2_score

In [40]:
#load the dataset
data = pd.read_csv("/content/DatasetAfricaMalaria.csv")

In [41]:
# Explore the dataset
data.head()

,Country Name,Year,Country Code,"Incidence of malaria (per 1,000 population at risk)",Malaria cases reported,Use of insecticide-treated bed nets (% of under-5 population),Children with fever receiving antimalarial drugs (% of children under age 5 with fever),Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women),People using safely managed drinking water services (% of population),"People using safely managed drinking water services, rural (% of rural population)",...,Urban population growth (annual %),People using at least basic drinking water services (% of population),"People using at least basic drinking water services, rural (% of rural population)","People using at least basic drinking water services, urban (% of urban population)",People using at least basic sanitation services (% of population),"People using at least basic sanitation services, rural (% of rural population)","People using at least basic sanitation services, urban (% of urban population)",latitude,longitude,geometry
0,Algeria,2007,DZA,0.01,26.0,NaN,NaN,NaN,NaN,NaN,...,2.71,91.68,85.83,94.78,85.85,76.94,90.57,28.033886,1.659626,POINT (28.033886 1.659626)
1,Angola,2007,AGO,286.72,1533485.0,18.0,29.8,1.5,NaN,NaN,...,5.01,47.96,23.77,65.83,37.26,14.00,54.44,-11.202692,17.873887,POINT (-11.202692 17.873887)
2,Benin,2007,BEN,480.24,0.0,NaN,NaN,NaN,NaN,NaN,...,4.09,63.78,54.92,76.24,11.80,4.29,22.36,9.307690,2.315834,POINT (9.307689999999999 2.315834)
3,Botswana,2007,BWA,1.03,390.0,NaN,NaN,NaN,NaN,NaN,...,4.80,78.89,57.60,94.35,61.60,39.99,77.30,-22.328474,24.684866,POINT (-22.328474 24.684866)
4,Burkina Faso,2007,BFA,503.80,44246.0,NaN,NaN,NaN,NaN,NaN,...,5.91,52.27,45.13,76.15,15.60,6.38,46.49,12.238333,-1.561593,POINT (12.238333 -1.561593)

In [42]:
data.tail()

,Country Name,Year,Country Code,"Incidence of malaria (per 1,000 population at risk)",Malaria cases reported,Use of insecticide-treated bed nets (% of under-5 population),Children with fever receiving antimalarial drugs (% of children under age 5 with fever),Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women),People using safely managed drinking water services (% of population),"People using safely managed drinking water services, rural (% of rural population)",...,Urban population growth (annual %),People using at least basic drinking water services (% of population),"People using at least basic drinking water services, rural (% of rural population)","People using at least basic drinking water services, urban (% of urban population)",People using at least basic sanitation services (% of population),"People using at least basic sanitation services, rural (% of rural population)","People using at least basic sanitation services, urban (% of urban population)",latitude,longitude,geometry
589,Togo,2017,TGO,278.20,1755577.0,69.7,31.1,41.7,NaN,NaN,...,3.79,65.13,48.39,89.06,16.13,7.40,28.61,8.619543,0.824782,POINT (8.619543 0.824782)
590,Tunisia,2017,TUN,NaN,NaN,NaN,NaN,NaN,92.66,NaN,...,1.57,96.25,88.71,99.70,90.92,81.35,95.29,33.886917,9.537499,POINT (33.886917 9.537499)
591,Uganda,2017,UGA,336.76,11667831.0,NaN,NaN,NaN,7.07,4.46,...,6.25,49.10,41.25,75.11,18.47,16.17,26.11,1.373333,32.290275,POINT (1.373333 32.290275)
592,Zambia,2017,ZMB,160.05,5505639.0,NaN,NaN,NaN,NaN,NaN,...,4.21,59.96,41.95,83.86,26.37,18.93,36.24,-13.133897,27.849332,POINT (-13.133897 27.849332)
593,Zimbabwe,2017,ZWE,108.55,467508.0,NaN,NaN,NaN,NaN,NaN,...,1.28,64.05,49.80,94.00,36.22,31.47,46.22,-19.015438,29.154857,POINT (-19.015438 29.154857)

In [43]:
data.shape

(594, 27)

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594 entries, 0 to 593
Data columns (total 27 columns):
 #   Column                                                                                   Non-Null Count  Dtype
---  ------                                                                                   --------------  -----
 0   Country Name                                                                             594 non-null    object
 1   Year                                                                                     594 non-null    int64
 2   Country Code                                                                             594 non-null    object
 3   Incidence of malaria (per 1,000 population at risk)                                      550 non-null    float64
 4   Malaria cases reported                                                                   550 non-null    float64
 5   Use of insecticide-treated bed nets (% of under-5 population)                            132 non-null    float64
 6   Children with fever receiving antimalarial drugs (% of children under age 5 with fever)  122 non-null    float64
 7   Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women)    106 non-null    float64
 8   People using safely managed drinking water services (% of population)                    99 non-null     float64
 9   People using safely managed drinking water services, rural (% of rural population)       88 non-null     float64
 10  People using safely managed drinking water services, urban (% of urban population)       176 non-null    float64
 11  People using safely managed sanitation services (% of population)                        132 non-null    float64
 12  People using safely managed sanitation services, rural (% of rural population)           110 non-null    float64
 13  People using safely managed sanitation services, urban  (% of urban population)          132 non-null    float64
 14  Rural population (% of total population)                                                 588 non-null    float64
 15  Rural population growth (annual %)                                                       588 non-null    float64
 16  Urban population (% of total population)                                                 588 non-null    float64
 17  Urban population growth (annual %)                                                       588 non-null    float64
 18  People using at least basic drinking water services (% of population)                    588 non-null    float64
 19  People using at least basic drinking water services, rural (% of rural population)       566 non-null    float64
 20  People using at least basic drinking water services, urban (% of urban population)       566 non-null    float64
 21  People using at least basic sanitation services (% of population)                        588 non-null    float64
 22  People using at least basic sanitation services, rural (% of rural population)           566 non-null    float64
 23  People using at least basic sanitation services, urban  (% of urban population)          566 non-null    float64
 24  latitude                                                                                 594 non-null    float64
 25  longitude                                                                                594 non-null    float64
 26  geometry                                                                                 594 non-null    object
dtypes: float64(23), int64(1), object(3)
memory usage: 125.4+ KB

In [45]:
data.describe()

,Year,"Incidence of malaria (per 1,000 population at risk)",Malaria cases reported,Use of insecticide-treated bed nets (% of under-5 population),Children with fever receiving antimalarial drugs (% of children under age 5 with fever),Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women),People using safely managed drinking water services (% of population),"People using safely managed drinking water services, rural (% of rural population)","People using safely managed drinking water services, urban (% of urban population)",People using safely managed sanitation services (% of population),...,Urban population (% of total population),Urban population growth (annual %),People using at least basic drinking water services (% of population),"People using at least basic drinking water services, rural (% of rural population)","People using at least basic drinking water services, urban (% of urban population)",People using at least basic sanitation services (% of population),"People using at least basic sanitation services, rural (% of rural population)","People using at least basic sanitation services, urban (% of urban population)",latitude,longitude
count,594.000000,550.000000,5.500000e+02,132.000000,122.000000,106.000000,99.000000,88.000000,176.000000,132.000000,...,588.000000,588.000000,588.000000,566.000000,566.000000,588.000000,566.000000,566.000000,594.000000,594.000000
mean,2012.000000,190.087491,1.068330e+06,42.530303,30.201639,15.013958,33.478990,12.470568,51.549545,28.768939,...,43.164116,3.523061,65.994915,51.449576,84.268498,39.469796,28.077208,48.088375,2.828796,17.342546
std,3.164943,163.054527,2.192802e+06,20.157059,18.903198,12.389166,26.678321,10.078371,24.157416,18.631510,...,18.086118,1.456244,17.283361,18.927868,9.307285,26.304934,24.046725,21.802128,15.678226,20.041257
min,2007.000000,0.000000,0.000000e+00,1.000000,0.500000,0.000000,5.770000,0.930000,11.200000,6.370000,...,9.860000,-4.650000,28.960000,17.050000,52.010000,4.990000,1.890000,12.580000,-30.559482,-24.013197
25%,2009.000000,30.857500,2.211750e+03,26.675000,17.275000,5.763285,8.975000,4.185000,34.125000,16.532500,...,28.795000,2.512500,52.375000,37.075000,78.080000,18.197500,8.842500,30.775000,-6.369028,0.824782
50%,2012.000000,174.775000,1.130260e+05,42.900000,29.300000,11.500000,28.390000,10.675000,51.365000,25.410000,...,41.560000,3.730000,64.470000,50.435000,85.420000,32.555000,18.815000,44.695000,6.744051,18.611308
75%,2015.000000,347.637500,1.154808e+06,56.325000,42.625000,21.850000,43.890000,16.887500,70.747500,35.725000,...,56.945000,4.450000,79.165000,62.245000,90.082500,54.810000,38.082500,58.845000,12.862807,31.465866
max,2017.000000,585.540000,1.682113e+07,95.500000,76.900000,59.600000,92.660000,39.930000,89.540000,78.120000,...,88.980000,7.400000,99.870000,99.830000,99.920000,100.000000,95.180000,98.300000,33.886917,57.552152

In [46]:
# Check for missing data
data.isnull().sum()

Country Name                                                                                 0
Year                                                                                         0
Country Code                                                                                 0
Incidence of malaria (per 1,000 population at risk)                                         44
Malaria cases reported                                                                      44
Use of insecticide-treated bed nets (% of under-5 population)                              462
Children with fever receiving antimalarial drugs (% of children under age 5 with fever)    472
Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women)      488
People using safely managed drinking water services (% of population)                      495
People using safely managed drinking water services, rural (% of rural population)         506
People using safely managed drinking water services, urban (% of urban population)         418
People using safely managed sanitation services (% of population)                          462
People using safely managed sanitation services, rural (% of rural population)             484
People using safely managed sanitation services, urban  (% of urban population)            462
Rural population (% of total population)                                                     6
Rural population growth (annual %)                                                           6
Urban population (% of total population)                                                     6
Urban population growth (annual %)                                                           6
People using at least basic drinking water services (% of population)                        6
People using at least basic drinking water services, rural (% of rural population)          28
People using at least basic drinking water services, urban (% of urban population)          28
People using at least basic sanitation services (% of population)                            6
People using at least basic sanitation services, rural (% of rural population)              28
People using at least basic sanitation services, urban  (% of urban population)             28
latitude                                                                                     0
longitude                                                                                    0
geometry                                                                                     0
dtype: int64

0  Country Name = c_name
1  Year  = year
2  Country Code  = c_code
3 Incidence of malaria (per 1,000 population at risk) = iom
4 Malaria cases reported = mc_reported        
5 Use of insecticide-treated bed nets(% of under-5 population) = juvenile_itbn
6 Children with fever receiving antimalarial drugs (% of children under age 5 with fever) = juvenile_antimalarialdrugs
7 Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women) = ipt_pregnantwomen
8 People using safely managed drinking water services (% of population) = safe_drinkwater
9 People using safely managed drinking water services, rural (% of rural population) = safe_drinkwater_rural
10 People using safely managed drinking water services, urban (% of urban population) = safe_drinkwater_urban
11 People using safely managed sanitation services (% of population) = safe_sanitationservices
12 People using safely managed sanitation services, rural (% of rural population) = safe_sanitationservices_rural
13 People using safely managed sanitation services, urban  (% of urban population) = safe_sanitationservices_urban
14 Rural population (% of total population) = percentage_ruralpop
15 Rural population growth (annual %) = rural_popgrowth
16 Urban population (% of total population) = percentage_urbanpop
17 Urban population growth (annual %) = percentage_urbanpop
18 People using at least basic drinking water services (% of population) = basicdrinkingwater
19 People using at least basic drinking water services, rural (% of rural population) = basicdrinkingwater_rural
20 People using at least basic drinking water services, urban (% of urban population) = basicdrinkingwater_urban
21 People using at least basic sanitation services (% of population) = bascisanitationservices
22 People using at least basic sanitation services, rural (% of rural population) = bascisanitationservices_rural
23 People using at least basic sanitation services, urban  (% of urban population) = bascisanitationservices_urban
24 latitude = latitude
25 longitude = longitude
26 geometry = geometry

In [47]:
abbreviated_headers = {
  'Country Name' : 'countryname',
  'Year' : 'year',
  'Country Code' : 'countrycode',
  'Incidence of malaria (per 1,000 population at risk)' : 'iom(/1,000 pop)' ,
  'Malaria cases reported' : 'malariacasesreported',
  'Use of insecticide-treated bed nets (% of under-5 population)' : 'insecticidetreatednet(%juvenile)',
  'Children with fever receiving antimalarial drugs (% of children under age 5 with fever)' : 'treatment_antimalarialdrugs(%juvenile)',
  'Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women)' : 'ipt_malaria(%pregnantwomen)',
  'People using safely managed drinking water services (% of population)' : 'safemanaged_drinkwater(%pop)',
  'People using safely managed drinking water services, rural (% of rural population)' : 'safemanaged_drinkwater_rural(%pop)',
  'People using safely managed drinking water services, urban (% of urban population)' : 'safemanaged_drinkwater_urban(%pop)',
  'People using safely managed sanitation services (% of population)' : 'safesanitationservices(%pop)',
  'People using safely managed sanitation services, rural (% of rural population)' : 'safesanitationservices_rural(%ruralpop)',
  'People using safely managed sanitation services, urban  (% of urban population)' : 'safesanitationservices_urban(%urbanpop)',
  'Rural population (% of total population)' : 'ruralpop(%totalpop)',
  'Rural population growth (annual %)' : 'ruralpopgrowth(annual%)',
  'Urban population (% of total population)' : 'urbanpop(%totalpop)',
  'Urban population growth (annual %)' : 'urbanpopgrowth(annual%)',
  'People using at least basic drinking water services (% of population)' : 'basicdrinkingwaterservices(%pop)',
  'People using at least basic drinking water services, rural (% of rural population)' : 'basicdrinkingwater_rural(%ruralpop)',
  'People using at least basic drinking water services, urban (% of urban population)' : 'basicdrinkingwater_urban(%urbanpop)',
  'People using at least basic sanitation services (% of population)' : 'bascisanitationservices(%pop)',
  'People using at least basic sanitation services, rural (% of rural population)' : 'bascisanitationservices_rural(%ruralpop)',
  'People using at least basic sanitation services, urban  (% of urban population)' :  'bascisanitationservices_urban(%urbanpop)',
  'latitude' : 'latitude',
  'longitude' : 'longitude',
  'geometry' : 'geometry'
}
data.rename(columns=abbreviated_headers, inplace=True)

In [48]:
data.head()

,countryname,year,countrycode,"iom(/1,000 pop)",malariacasesreported,insecticidetreatednet(%juvenile),treatment_antimalarialdrugs(%juvenile),ipt_malaria(%pregnantwomen),safemanaged_drinkwater(%pop),safemanaged_drinkwater_rural(%pop),...,urbanpopgrowth(annual%),basicdrinkingwaterservices(%pop),basicdrinkingwater_rural(%ruralpop),basicdrinkingwater_urban(%urbanpop),bascisanitationservices(%pop),bascisanitationservices_rural(%ruralpop),bascisanitationservices_urban(%urbanpop),latitude,longitude,geometry
0,Algeria,2007,DZA,0.01,26.0,NaN,NaN,NaN,NaN,NaN,...,2.71,91.68,85.83,94.78,85.85,76.94,90.57,28.033886,1.659626,POINT (28.033886 1.659626)
1,Angola,2007,AGO,286.72,1533485.0,18.0,29.8,1.5,NaN,NaN,...,5.01,47.96,23.77,65.83,37.26,14.00,54.44,-11.202692,17.873887,POINT (-11.202692 17.873887)
2,Benin,2007,BEN,480.24,0.0,NaN,NaN,NaN,NaN,NaN,...,4.09,63.78,54.92,76.24,11.80,4.29,22.36,9.307690,2.315834,POINT (9.307689999999999 2.315834)
3,Botswana,2007,BWA,1.03,390.0,NaN,NaN,NaN,NaN,NaN,...,4.80,78.89,57.60,94.35,61.60,39.99,77.30,-22.328474,24.684866,POINT (-22.328474 24.684866)
4,Burkina Faso,2007,BFA,503.80,44246.0,NaN,NaN,NaN,NaN,NaN,...,5.91,52.27,45.13,76.15,15.60,6.38,46.49,12.238333,-1.561593,POINT (12.238333 -1.561593)

In [49]:
grouped_data = data.groupby('year')
grouped_data.head()

,countryname,year,countrycode,"iom(/1,000 pop)",malariacasesreported,insecticidetreatednet(%juvenile),treatment_antimalarialdrugs(%juvenile),ipt_malaria(%pregnantwomen),safemanaged_drinkwater(%pop),safemanaged_drinkwater_rural(%pop),...,urbanpopgrowth(annual%),basicdrinkingwaterservices(%pop),basicdrinkingwater_rural(%ruralpop),basicdrinkingwater_urban(%urbanpop),bascisanitationservices(%pop),bascisanitationservices_rural(%ruralpop),bascisanitationservices_urban(%urbanpop),latitude,longitude,geometry
0,Algeria,2007,DZA,0.01,26.0,NaN,NaN,NaN,NaN,NaN,...,2.71,91.68,85.83,94.78,85.85,76.94,90.57,28.033886,1.659626,POINT (28.033886 1.659626)
1,Angola,2007,AGO,286.72,1533485.0,18.0,29.8,1.5,NaN,NaN,...,5.01,47.96,23.77,65.83,37.26,14.00,54.44,-11.202692,17.873887,POINT (-11.202692 17.873887)
2,Benin,2007,BEN,480.24,0.0,NaN,NaN,NaN,NaN,NaN,...,4.09,63.78,54.92,76.24,11.80,4.29,22.36,9.307690,2.315834,POINT (9.307689999999999 2.315834)
3,Botswana,2007,BWA,1.03,390.0,NaN,NaN,NaN,NaN,NaN,...,4.80,78.89,57.60,94.35,61.60,39.99,77.30,-22.328474,24.684866,POINT (-22.328474 24.684866)
4,Burkina Faso,2007,BFA,503.80,44246.0,NaN,NaN,NaN,NaN,NaN,...,5.91,52.27,45.13,76.15,15.60,6.38,46.49,12.238333,-1.561593,POINT (12.238333 -1.561593)
54,Algeria,2008,DZA,0.00,3.0,NaN,NaN,NaN,NaN,NaN,...,2.78,91.92,86.19,94.86,86.10,77.60,90.46,28.033886,1.659626,POINT (28.033886 1.659626)
55,Angola,2008,AGO,241.19,1377992.0,NaN,NaN,NaN,NaN,NaN,...,5.02,48.77,24.14,66.40,38.53,14.92,55.43,-11.202692,17.873887,POINT (-11.202692 17.873887)
56,Benin,2008,BEN,453.17,0.0,NaN,NaN,NaN,NaN,NaN,...,4.05,64.09,55.31,76.19,12.32,4.66,22.86,9.307690,2.315834,POINT (9.307689999999999 2.315834)
57,Botswana,2008,BWA,1.93,927.0,NaN,NaN,NaN,NaN,NaN,...,4.70,80.32,59.36,94.62,63.34,41.06,78.55,-22.328474,24.684866,POINT (-22.328474 24.684866)
58,Burkina Faso,2008,BFA,533.39,36514.0,NaN,NaN,NaN,NaN,NaN,...,5.34,51.78,44.16,76.52,16.08,6.93,45.82,12.238333,-1.561593,POINT (12.238333 -1.561593)
108,Algeria,2009,DZA,0.00,0.0,NaN,NaN,NaN,NaN,NaN,...,2.82,92.16,86.54,94.94,86.34,78.25,90.35,28.033886,1.659626,POINT (28.033886 1.659626)
109,Angola,2009,AGO,204.35,1573422.0,NaN,NaN,NaN,NaN,NaN,...,4.99,49.58,24.51,66.97,39.79,15.84,56.41,-11.202692,17.873887,POINT (-11.202692 17.873887)
110,Benin,2009,BEN,417.96,889597.0,NaN,NaN,NaN,NaN,NaN,...,4.02,64.40,55.69,76.13,12.85,5.05,23.36,9.307690,2.315834,POINT (9.307689999999999 2.315834)
111,Botswana,2009,BWA,2.10,1024.0,NaN,NaN,NaN,NaN,NaN,...,4.44,81.71,61.13,94.90,65.09,42.14,79.80,-22.328474,24.684866,POINT (-22.328474 24.684866)
112,Burkina Faso,2009,BFA,552.03,182527.0,NaN,NaN,NaN,NaN,NaN,...,5.32,51.29,43.18,76.89,16.54,7.47,45.14,12.238333,-1.561593,POINT (12.238333 -1.561593)
162,Algeria,2010,DZA,0.00,1.0,NaN,NaN,NaN,NaN,NaN,...,2.87,92.39,86.90,95.03,86.56,78.91,90.24,28.033886,1.659626,POINT (28.033886 1.659626)
163,Angola,2010,AGO,185.52,1682870.0,NaN,NaN,NaN,NaN,NaN,...,4.93,50.38,24.88,67.53,41.06,16.77,57.40,-11.202692,17.873887,POINT (-11.202692 17.873887)
164,Benin,2010,BEN,387.76,0.0,NaN,NaN,NaN,NaN,NaN,...,4.00,64.69,56.07,76.08,13.39,5.45,23.87,9.307690,2.315834,POINT (9.307689999999999 2.315834)
165,Botswana,2010,BWA,1.69,1046.0,NaN,NaN,NaN,NaN,NaN,...,4.10,83.05,62.91,95.18,66.84,43.22,81.06,-22.328474,24.684866,POINT (-22.328474 24.684866)
166,Burkina Faso,2010,BFA,551.24,804539.0,47.4,35.1,5.2,NaN,NaN,...,5.29,50.82,42.19,77.25,16.98,8.00,44.45,12.238333,-1.561593,POINT (12.238333 -1.561593)
216,Algeria,2011,DZA,0.00,1.0,NaN,NaN,NaN,NaN,NaN,...,2.91,92.62,87.26,95.11,86.77,79.57,90.12,28.033886,1.659626,POINT (28.033886 1.659626)
217,Angola,2011,AGO,175.99,1632282.0,25.9,28.3,8.4,NaN,NaN,...,4.87,51.17,25.25,68.08,42.33,17.69,58.39,-11.202692,17.873887,POINT (-11.202692 17.873887)
218,Benin,2011,BEN,370.11,68745.0,NaN,NaN,NaN,NaN,NaN,...,3.99,64.98,56.44,76.02,13.94,5.86,24.39,9.307690,2.315834,POINT (9.307689999999999 2.315834)
219,Botswana,2011,BWA,0.51,432.0,NaN,NaN,NaN,NaN,NaN,...,3.72,84.34,64.70,95.45,68.59,44.32,82.33,-22.328474,24.684866,POINT (-22.328474 24.684866)
220,Burkina Faso,2011,BFA,539.56,428113.0,NaN,NaN,NaN,NaN,NaN,...,5.27,50.37,41.19,77.63,17.39,8.52,43.75,12.238333,-1.561593,POINT (12.238333 -1.561593)
270,Algeria,2012,DZA,0.03,55.0,NaN,NaN,NaN,NaN,NaN,...,2.94,92.84,87.62,95.19,86.97,80.23,90.01,28.033886,1.659626,POINT (28.033886 1.659626)
271,Angola,2012,AGO,174.43,1496834.0,NaN,NaN,NaN,NaN,NaN,...,4.81,51.97,25.61,68.63,43.59,18.61,59.38,-11.202692,17.873887,POINT (-11.202692 17.873887)
272,Benin,2012,BEN,378.03,705839.0,69.7,38.4,10.0,NaN,NaN,...,3.98,65.26,56.81,75.97,14.51,6.29,24.91,9.307690,2.315834,POINT (9.307689999999999 2.315834)
273,Botswana,2012,BWA,0.22,193.0,30.9,NaN,NaN,NaN,NaN,...,2.60,85.42,66.49,95.72,70.15,45.42,83.60,-22.328474,24.684866,POINT (-22.328474 24.684866)
274,Burkina Faso,2012,BFA,527.54,3858046.0,NaN,NaN,NaN,NaN,NaN,...,5.24,49.92,40.18,78.00,17.79,9.02,43.05,12.238333,-1.561593,POINT (12.238333 -1.561593)
324,Algeria,2013,DZA,0.00,8.0,NaN,NaN,NaN,NaN,NaN,...,2.96,93.06,87.98,95.28,87.16,80.89,89.90,28.033886,1.659626,POINT (28.033886 1.659626)
325,Angola,2013,AGO,180.90,1999868.0,NaN,NaN,NaN,NaN,NaN,...,4.74,52.76,25.98,69.17,44.85,19.54,60.37,-11.202692,17.873887,POINT (-11.202692 17.873887)
326,Benin,2013,BEN,395.00,1090602.0,NaN,NaN,NaN,NaN,NaN,...,3.96,65.54,57.17,75.91,15.08,6.74,25.43,9.307690,2.315834,POINT (9.307689999999999 2.315834)
327,Botswana,2013,BWA,0.53,456.0,NaN,NaN,NaN,NaN,NaN,...,2.35,86.46,68.28,96.00,71.68,46.53,84.89,-22.328474,24.684866,POINT (-22.328474 24.684866)
328,Burkina Faso,2013,BFA,487.52,3769051.0,NaN,NaN,NaN,NaN,NaN,...,5.20,49.49,39.16,78.37,18.16,9.51,42.33,12.238333,-1.561593,POINT (12.238333 -1.561593)
378,Algeria,2014,DZA,0.00,0.0,NaN,NaN,NaN,NaN,NaN,...,2.96,93.27,88.33,95.36,87.33,81.55,89.79,28.033886,1.659626,POINT (28.033886 1.659626)
379,Angola,2014,AGO,187.94,2298979.0,NaN,NaN,NaN,NaN,NaN,...,4.67,53.54,26.35,69.70,46.12,20.46,61.36,-11.202692,17.873887,POINT (-11.202692 17.873887)
380,Benin,2014,BEN,399.24,1130558.0,72.7,25.9,12.5,NaN,NaN,...,3.95,65.80,57.52,75.86,15.67,7.20,25.96,9.307690,2.315834,POINT (9.307689999999999 2.315834)
381,Botswana,2014,BWA,1.50,1346.0,NaN,NaN,NaN,NaN,NaN,...,2.46,87.46,70.08,96.27,73.22,47.65,86.18,-22.328474,24.684866,POINT (-22.328474 24.684866)
382,Burkina Faso,2014,BFA,436.06,5428655.0,75.3,49.2,22.4,NaN,NaN,...,5.17,49.07,38.13,78.74,18.50,9.99,41.61,12.238333,-1.561593,POINT (12.238333 -1.561593)
432,Algeria,2015,DZA,0.00,0.0,NaN,NaN,NaN,NaN,NaN,...,2.93,93.47,88.69,95.44,87.50,82.21,89.67,28.033886,1.659626,POINT (28.033886 1.659626)
433,Angola,2015,AGO,199.99,2769305.0,NaN,NaN,19.0,NaN,NaN,...,4.57,54.32,26.71,70.22,47.37,21.39,62.35,-11.202692,17.873887,POINT (-11.202692 17.873887)
434,Benin,2015,BEN,411.82,1524739.0,NaN,NaN,NaN,NaN,NaN,...,3.94,66.07,57.87,75.80,16.01,7.41,26.23,9.307690,2.315834,POINT (9.307689999999999 2.315834)
435,Botswana,2015,BWA,0.37,326.0,NaN,NaN,NaN,NaN,NaN,...,2.70,88.45,71.89,96.54,74.76,48.77,87.47,-22.328474,24.684866,POINT (-22.328474 24.684866)
436,Burkina Faso,2015,BFA,400.09,7015446.0,NaN,NaN,NaN,NaN,NaN,...,5.13,48.66,37.09,79.11,18.83,10.45,40.87,12.238333,-1.561593,POINT (12.238333 -1.561593)
486,Algeria,2016,DZA,0.00,0.0,NaN,NaN,NaN,NaN,NaN,...,2.91,93.52,88.69,95.44,87.54,82.21,89.67,28.033886,1.659626,POINT (28.033886 1.659626)
487,Angola,2016,AGO,219.99,3794253.0,21.7,18.1,20.0,NaN,NaN,...,4.48,55.08,27.08,70.74,48.63,22.31,63.34,-11.202692,17.873887,POINT (-11.202692 17.873887)
488,Benin,2016,BEN,421.58,1395618.0,NaN,NaN,NaN,NaN,NaN,...,3.92,66.32,58.22,75.75,16.35,7.62,26.51,9.307690,2.315834,POINT (9.307689999999999 2.315834)
489,Botswana,2016,BWA,0.81,716.0,NaN,NaN,NaN,NaN,NaN,...,2.98,89.40,73.71,96.81,76.02,49.68,88.45,-22.328474,24.684866,POINT (-22.328474 24.684866)
490,Burkina Faso,2016,BFA,401.73,9779411.0,NaN,NaN,NaN,NaN,NaN,...,5.09,48.27,36.05,79.49,19.13,10.90,40.13,12.238333,-1.561593,POINT (12.238333 -1.561593)
540,Algeria,2017,DZA,0.00,0.0,NaN,NaN,NaN,NaN,NaN,...,2.87,93.56,88.69,95.44,87.59,82.21,89.67,28.033886,1.659626,POINT (28.033886 1.659626)
541,Angola,2017,AGO,228.91,3874892.0,NaN,NaN,NaN,NaN,NaN,...,4.39,55.84,27.44,71.24,49.88,23.23,64.33,-11.202692,17.873887,POINT (-11.202692 17.873887)
542,Benin,2017,BEN,399.56,1774022.0,NaN,NaN,NaN,NaN,NaN,...,3.91,66.41,58.22,75.75,16.45,7.62,26.51,9.307690,2.315834,POINT (9.307689999999999 2.315834)
543,Botswana,2017,BWA,2.05,1900.0,NaN,NaN,NaN,NaN,NaN,...,3.19,90.34,75.53,97.09,77.27,50.60,89.42,-22.328474,24.684866,POINT (-22.328474 24.684866)
544,Burkina Faso,2017,BFA,399.94,10255415.0,NaN,NaN,NaN,NaN,NaN,...,5.03,47.89,34.99,79.86,19.40,11.34,39.38,12.238333,-1.561593,POINT (12.238333 -1.561593)

In [50]:
grouped_data.tail()

,countryname,year,countrycode,"iom(/1,000 pop)",malariacasesreported,insecticidetreatednet(%juvenile),treatment_antimalarialdrugs(%juvenile),ipt_malaria(%pregnantwomen),safemanaged_drinkwater(%pop),safemanaged_drinkwater_rural(%pop),...,urbanpopgrowth(annual%),basicdrinkingwaterservices(%pop),basicdrinkingwater_rural(%ruralpop),basicdrinkingwater_urban(%urbanpop),bascisanitationservices(%pop),bascisanitationservices_rural(%ruralpop),bascisanitationservices_urban(%urbanpop),latitude,longitude,geometry
49,Togo,2007,TGO,434.49,258716.0,NaN,NaN,NaN,NaN,NaN,...,4.00,53.92,37.37,83.19,12.16,4.13,26.37,8.619543,0.824782,POINT (8.619543 0.824782)
50,Tunisia,2007,TUN,NaN,NaN,NaN,NaN,NaN,72.34,NaN,...,1.44,90.79,75.34,98.82,83.36,62.16,94.37,33.886917,9.537499,POINT (33.886917 9.537499)
51,Uganda,2007,UGA,377.94,1045378.0,NaN,NaN,NaN,5.77,2.30,...,5.84,35.33,27.27,72.31,18.02,15.68,28.73,1.373333,32.290275,POINT (1.373333 32.290275)
52,Zambia,2007,ZMB,195.74,0.0,29.0,38.4,43.100000,NaN,NaN,...,3.96,53.98,35.63,84.07,24.87,14.61,41.69,-13.133897,27.849332,POINT (-13.133897 27.849332)
53,Zimbabwe,2007,ZWE,175.12,116518.0,NaN,NaN,NaN,NaN,NaN,...,0.28,69.05,56.03,94.61,43.20,34.74,59.81,-19.015438,29.154857,POINT (-19.015438 29.154857)
103,Togo,2008,TGO,379.90,397283.0,NaN,NaN,NaN,NaN,NaN,...,4.01,55.05,38.48,83.78,12.53,4.41,26.60,8.619543,0.824782,POINT (8.619543 0.824782)
104,Tunisia,2008,TUN,NaN,NaN,NaN,NaN,NaN,76.96,NaN,...,1.49,91.18,76.01,98.96,84.27,64.35,94.49,33.886917,9.537499,POINT (33.886917 9.537499)
105,Uganda,2008,UGA,410.46,979298.0,NaN,NaN,NaN,5.91,2.49,...,5.83,36.64,28.54,72.59,18.09,15.75,28.46,1.373333,32.290275,POINT (1.373333 32.290275)
106,Zambia,2008,ZMB,176.72,0.0,41.0,43.0,NaN,NaN,NaN,...,4.01,54.60,36.27,84.04,25.03,15.04,41.09,-13.133897,27.849332,POINT (-13.133897 27.849332)
107,Zimbabwe,2008,ZWE,74.73,32788.0,NaN,NaN,NaN,NaN,NaN,...,0.46,68.54,55.40,94.55,42.48,34.41,58.46,-19.015438,29.154857,POINT (-19.015438 29.154857)
157,Togo,2009,TGO,326.88,571611.0,NaN,NaN,NaN,NaN,NaN,...,3.99,56.18,39.58,84.36,12.91,4.71,26.83,8.619543,0.824782,POINT (8.619543 0.824782)
158,Tunisia,2009,TUN,NaN,NaN,NaN,NaN,NaN,81.61,NaN,...,1.49,91.69,77.05,99.10,85.18,66.58,94.60,33.886917,9.537499,POINT (33.886917 9.537499)
159,Uganda,2009,UGA,433.79,1301337.0,32.8,59.6,17.000000,6.05,2.69,...,5.82,37.96,29.84,72.87,18.15,15.81,28.20,1.373333,32.290275,POINT (1.373333 32.290275)
160,Zambia,2009,ZMB,172.00,0.0,NaN,NaN,NaN,NaN,NaN,...,4.08,55.21,36.91,84.00,25.19,15.47,40.48,-13.133897,27.849332,POINT (-13.133897 27.849332)
161,Zimbabwe,2009,ZWE,90.50,114028.0,17.3,23.6,7.000000,NaN,NaN,...,0.64,68.03,54.77,94.49,41.77,34.08,57.11,-19.015438,29.154857,POINT (-19.015438 29.154857)
211,Togo,2010,TGO,308.88,1006702.0,57.1,33.8,17.487992,NaN,NaN,...,3.97,57.30,40.69,84.95,13.29,5.01,27.06,8.619543,0.824782,POINT (8.619543 0.824782)
212,Tunisia,2010,TUN,NaN,NaN,NaN,NaN,NaN,86.29,NaN,...,1.46,92.46,78.91,99.24,86.09,68.83,94.72,33.886917,9.537499,POINT (33.886917 9.537499)
213,Uganda,2010,UGA,417.35,1581160.0,NaN,NaN,NaN,6.19,2.89,...,5.83,39.30,31.17,73.15,18.21,15.87,27.93,1.373333,32.290275,POINT (1.373333 32.290275)
214,Zambia,2010,ZMB,177.02,0.0,50.0,34.0,NaN,NaN,NaN,...,4.18,55.81,37.54,83.97,25.33,15.90,39.87,-13.133897,27.849332,POINT (-13.133897 27.849332)
215,Zimbabwe,2010,ZWE,109.43,249379.0,NaN,NaN,NaN,NaN,NaN,...,0.81,67.51,54.14,94.43,41.05,33.75,55.76,-19.015438,29.154857,POINT (-19.015438 29.154857)
265,Togo,2011,TGO,313.40,519450.0,NaN,NaN,NaN,NaN,NaN,...,4.00,58.43,41.79,85.53,13.68,5.33,27.29,8.619543,0.824782,POINT (8.619543 0.824782)
266,Tunisia,2011,TUN,NaN,NaN,NaN,NaN,NaN,90.85,NaN,...,1.42,93.23,80.78,99.38,86.99,71.12,94.83,33.886917,9.537499,POINT (33.886917 9.537499)
267,Uganda,2011,UGA,385.70,231873.0,42.8,64.5,10.300000,6.32,3.10,...,5.81,40.66,32.52,73.42,18.26,15.93,27.67,1.373333,32.290275,POINT (1.373333 32.290275)
268,Zambia,2011,ZMB,186.70,0.0,NaN,NaN,NaN,NaN,NaN,...,4.27,56.40,38.16,83.93,25.48,16.34,39.27,-13.133897,27.849332,POINT (-13.133897 27.849332)
269,Zimbabwe,2011,ZWE,70.68,319935.0,9.7,2.3,5.000000,NaN,NaN,...,0.99,67.00,53.51,94.37,40.35,33.42,54.40,-19.015438,29.154857,POINT (-19.015438 29.154857)
319,Togo,2012,TGO,349.70,909129.0,NaN,NaN,NaN,NaN,NaN,...,4.00,59.56,42.89,86.12,14.08,5.65,27.52,8.619543,0.824782,POINT (8.619543 0.824782)
320,Tunisia,2012,TUN,NaN,NaN,NaN,NaN,NaN,91.22,NaN,...,1.39,94.00,82.68,99.52,87.90,73.45,94.95,33.886917,9.537499,POINT (33.886917 9.537499)
321,Uganda,2012,UGA,331.77,2662258.0,NaN,NaN,NaN,6.45,3.31,...,5.79,42.03,33.90,73.70,18.31,15.98,27.40,1.373333,32.290275,POINT (1.373333 32.290275)
322,Zambia,2012,ZMB,203.08,0.0,57.0,36.9,52.400000,NaN,NaN,...,4.36,56.99,38.78,83.89,25.61,16.78,38.66,-13.133897,27.849332,POINT (-13.133897 27.849332)
323,Zimbabwe,2012,ZWE,57.22,276963.0,NaN,NaN,NaN,NaN,NaN,...,1.15,66.49,52.89,94.30,39.64,33.09,53.05,-19.015438,29.154857,POINT (-19.015438 29.154857)
373,Togo,2013,TGO,385.39,965334.0,NaN,NaN,NaN,NaN,NaN,...,3.96,60.68,43.99,86.71,14.48,5.98,27.74,8.619543,0.824782,POINT (8.619543 0.824782)
374,Tunisia,2013,TUN,NaN,NaN,NaN,NaN,NaN,91.58,NaN,...,1.38,94.76,84.60,99.66,88.80,75.81,95.06,33.886917,9.537499,POINT (33.886917 9.537499)
375,Uganda,2013,UGA,254.24,1502362.0,NaN,NaN,NaN,6.58,3.53,...,5.82,43.42,35.32,73.98,18.36,16.03,27.14,1.373333,32.290275,POINT (1.373333 32.290275)
376,Zambia,2013,ZMB,225.77,0.0,NaN,NaN,NaN,NaN,NaN,...,4.40,57.56,39.39,83.85,25.74,17.23,38.06,-13.133897,27.849332,POINT (-13.133897 27.849332)
377,Zimbabwe,2013,ZWE,81.95,422633.0,NaN,NaN,NaN,NaN,NaN,...,1.23,65.97,52.27,94.24,38.94,32.76,51.69,-19.015438,29.154857,POINT (-19.015438 29.154857)
427,Togo,2014,TGO,384.68,1524339.0,42.8,18.3,22.800000,NaN,NaN,...,3.92,61.80,45.09,87.30,14.89,6.32,27.96,8.619543,0.824782,POINT (8.619543 0.824782)
428,Tunisia,2014,TUN,NaN,NaN,NaN,NaN,NaN,91.87,NaN,...,1.41,95.46,86.54,99.70,89.70,78.20,95.18,33.886917,9.537499,POINT (33.886917 9.537499)
429,Uganda,2014,UGA,220.62,3631939.0,NaN,NaN,NaN,6.71,3.75,...,5.92,44.82,36.76,74.26,18.39,16.07,26.88,1.373333,32.290275,POINT (1.373333 32.290275)
430,Zambia,2014,ZMB,222.98,4077547.0,40.6,39.8,51.400000,NaN,NaN,...,4.38,58.13,39.99,83.82,25.86,17.68,37.45,-13.133897,27.849332,POINT (-13.133897 27.849332)
431,Zimbabwe,2014,ZWE,101.89,548276.0,26.8,3.0,5.985314,NaN,NaN,...,1.29,65.47,51.65,94.18,38.25,32.44,50.32,-19.015438,29.154857,POINT (-19.015438 29.154857)
481,Togo,2015,TGO,364.31,1508015.0,NaN,NaN,NaN,NaN,NaN,...,3.87,62.91,46.19,87.88,15.30,6.67,28.18,8.619543,0.824782,POINT (8.619543 0.824782)
482,Tunisia,2015,TUN,NaN,NaN,NaN,NaN,NaN,92.14,NaN,...,1.47,95.73,87.26,99.70,90.30,79.77,95.23,33.886917,9.537499,POINT (33.886917 9.537499)
483,Uganda,2015,UGA,236.11,7137662.0,74.3,76.9,27.500000,6.83,3.98,...,6.05,46.24,38.23,74.54,18.42,16.10,26.62,1.373333,32.290275,POINT (1.373333 32.290275)
484,Zambia,2015,ZMB,202.55,4184661.0,NaN,NaN,NaN,NaN,NaN,...,4.33,58.69,40.59,83.78,25.98,18.14,36.84,-13.133897,27.849332,POINT (-13.133897 27.849332)
485,Zimbabwe,2015,ZWE,97.65,482379.0,9.0,1.0,NaN,NaN,NaN,...,1.30,64.99,51.03,94.12,37.57,32.11,48.96,-19.015438,29.154857,POINT (-19.015438 29.154857)
535,Togo,2016,TGO,324.86,1746234.0,NaN,NaN,NaN,NaN,NaN,...,3.83,64.02,47.29,88.47,15.71,7.03,28.40,8.619543,0.824782,POINT (8.619543 0.824782)
536,Tunisia,2016,TUN,NaN,NaN,NaN,NaN,NaN,92.40,NaN,...,1.53,95.99,87.99,99.70,90.88,81.35,95.29,33.886917,9.537499,POINT (33.886917 9.537499)
537,Uganda,2016,UGA,304.41,9385132.0,62.0,71.5,17.200000,6.95,4.22,...,6.18,47.67,39.72,74.82,18.45,16.14,26.36,1.373333,32.290275,POINT (1.373333 32.290275)
538,Zambia,2016,ZMB,181.39,4851319.0,NaN,NaN,NaN,NaN,NaN,...,4.26,59.24,41.18,83.74,26.09,18.60,36.24,-13.133897,27.849332,POINT (-13.133897 27.849332)
539,Zimbabwe,2016,ZWE,65.78,314003.0,NaN,NaN,NaN,NaN,NaN,...,1.27,64.51,50.42,94.06,36.89,31.79,47.59,-19.015438,29.154857,POINT (-19.015438 29.154857)
589,Togo,2017,TGO,278.20,1755577.0,69.7,31.1,41.700000,NaN,NaN,...,3.79,65.13,48.39,89.06,16.13,7.40,28.61,8.619543,0.824782,POINT (8.619543 0.824782)
590,Tunisia,2017,TUN,NaN,NaN,NaN,NaN,NaN,92.66,NaN,...,1.57,96.25,88.71,99.70,90.92,81.35,95.29,33.886917,9.537499,POINT (33.886917 9.537499)
591,Uganda,2017,UGA,336.76,11667831.0,NaN,NaN,NaN,7.07,4.46,...,6.25,49.10,41.25,75.11,18.47,16.17,26.11,1.373333,32.290275,POINT (1.373333 32.290275)
592,Zambia,2017,ZMB,160.05,5505639.0,NaN,NaN,NaN,NaN,NaN,...,4.21,59.96,41.95,83.86,26.37,18.93,36.24,-13.133897,27.849332,POINT (-13.133897 27.849332)
593,Zimbabwe,2017,ZWE,108.55,467508.0,NaN,NaN,NaN,NaN,NaN,...,1.28,64.05,49.80,94.00,36.22,31.47,46.22,-19.015438,29.154857,POINT (-19.015438 29.154857)